--extra-index-url https://download.pytorch.org/whl/cpu
unstructured[pdf,docx]
python-docx
pymupdf
openai
python-dotenv
tiktoken
langchain-text-splitters
neo4j
faiss-cpu
numpy
google-generativeai
langgraph
langchain-core
fastapi
uvicorn
python-multipart
streamlit
nltk
rank_bm25
